@charset "utf-8";

a {
    color: #0366d6;
}

.App {
    font-family: Copperplate, Fantasy, sans-serif;
    background-color: azure;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.bender {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
    font-size: 40px;
    outline-style: solid;
    background-color: black;
    color: lawngreen;
    outline-color: sandybrown;
    text-align: center;
    float: none;
}

.App-picture {

}


.App-img {
    width: 800px;
    height: auto;
    margin: auto;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

.app-body {
    /*float: left;*/
}

.main-article {
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    float: none;
    max-width: 800;
    text-align: justify;
}